.my-button {
    width: 200px;
    height: 100px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button-block {
    display: flex;
    justify-content: center;
    /* margin-top: -200px; */
}

.container-yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ccbf17;
}

.container-red {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #d45349;
}

.text {
    color: rgb(44, 96, 44);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.t {
    color: rgb(77, 14, 224);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.TOO-button {
    width: 200px;
    height: 100px;
    background-color: rgb(68, 78, 72);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-cyan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #00b7ff;
}

.text-purple {
    color: rgb(231, 23, 179);
    font-size: 50px;
    display: flex;
    justify-content: center; 
}